
#intro {
    text-align: center;           /* 가운데 정렬 */
    padding: 60px 20px;           /* 여백 추가 */
  }

#intro h2 {
  font-size: 2.5em;          /* 글씨 크기 증가 (기본의 약 2.5배) */
  margin: 0;                 /* 필요시 마진 조정 */
}

h2 {
  font-size: 16px;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0 40px;
}

#vis {
  position: sticky;
  top: 0;
  height: 500px;
  background: #f0f0f0;
  border-bottom: 2px solid #ccc;
}

#scene1-vis, #scene2-vis, #scene3-vis {
  width: 1400px;      /* 원하는 너비 설정 */
  height: 720px;     /* 높이 꼭 지정 */

}

#scene2-class-buttons button {
  padding: 6px 12px;
  font-size: 16px;
  background-color: white;
  border-radius: 800px;
}

#scene2-class-buttons button:hover {
  background-color: #f0f0f0;  /* 마우스 올렸을 때 연한 회색 */
}

.scene {
  margin-bottom: 50px;
}

.tooltip {
  position: absolute;
  background: #fff;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  visibility: hidden;
  font-size: 12px;
  pointer-events: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

